body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin-top: 100px;
}

.disc-gallery-page {
  
}

.disc-gallery-page .row img {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}


/* Gallery */

.discs {
  width: 100%;
  float: left;
}

.discs .row > div {
    margin-bottom: 50px;
}

.discs .disc {
  margin-bottom: 25px;
  padding: 5px;
}

.discs .disc .collection-item {
  float: right;
  font-weight: bold;
}

.discs .disc .disc-image {
  position: relative;
  width: auto;
}

.discs .disc .disc-image img {
  width: 100%;
}

.discs .disc .disc-image .disc-status {
  position: absolute;
  background: red;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  transition: opacity .5s;
  opacity: .7;
}

.discs .disc .disc-image .hole-in-one-disc {
    position: absolute;
    background: gold;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    transition: opacity .5s;
    opacity: .7;
}

.discs .disc .disc-image .disc-status span,
.discs .disc .disc-image .hole-in-one-disc span{
  display: block;
  text-align: center;
  font-size: 2em;
}

.discs .disc .disc-info .col.left {
  float: left;
  width: 70%;
}

.discs .disc .disc-info .col.right {
  float: right;
  text-align: right;
}

.discs .disc .disc-info h2 {
  margin-bottom: 0;
}

.discs .disc .disc-info h2, .discs .disc .disc-info p.manufacturer {
  margin-top: 0;
}

.discs .disc .disc-info p.manufacturer, .discs .disc .disc-info p.material {
  margin-bottom: 0;
}

.discs .disc .disc-info p.weight {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
}

.discs .disc .disc-info .type {
  font-weight: normal;
}

.discs .disc .disc-info .specs {
  float: left;
  width: 100%;
}

.discs .disc .disc-info .specs .attribute {
  float: left;
  width: 50%;
  height: 35%;
}

.discs .disc .disc-info .specs .attribute h3, .discs .disc .disc-info .specs .attribute p {
  text-align: center;
}

.discs .disc .disc-info .specs .attribute h3 {
  font-size: 1em;
  padding: 10px 10px 5px 10px;
}

.discs .disc .disc-info .specs .attribute p {
  font-size: 2em;
  padding: 10px;
}

.discs .disc .disc-info .specs .attribute.speed {
  background: #46af5c;
}

.discs .disc .disc-info .specs .attribute.glide {
  background: #cd9327;
}

.discs .disc .disc-info .specs .attribute.stability {
  background: #24a2dc;
}

.discs .disc .disc-info .specs .attribute.fade2 {
  background: #e6de47;
}
